<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/header.css">
</head>

<div class="headerBody">
    <a href="/aboutAnemia" class="headerButton">
        ABOUT
    </a>
    <div class="dropdown">
        <button class="dropButton">MODELS</button>
        <div class="dropDownContent">
            <a href="/">Model 1</a>
            </div>
    </div>
    <a href="/adminLogin" class="headerButtonAdmin">
        Admin
    </a>
    <p><a href="/">BLOODSEEKER</a></p>
</div>